<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="rating" content="General">
        <link rel="stylesheet" th:href="@{/styles/basic.css}">
        <title>Шашки онлайн</title>
    </head>

    <body>
        <header>
            <a href="#"><h1>Шашки онлайн</h1></a>
        </header>

        <nav>
            <div><a th:href="@{/index}">Главная</a></div>
            <div><a th:href="@{/rules}">Правила</a></div>
            <div><a th:href="@{/game}" class="current-page-link">Играть</a></div>
        </nav>

        <main>
            <h2>Игра</h2>
            <div class="game-page-content">
                <table class="board">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                            <th>e</th>
                            <th>f</th>
                            <th>g</th>
                            <th>h</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>8</th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>7</th>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>6</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>5</th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>4</th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>2</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>1</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>a</th>
                            <th>b</th>
                            <th>c</th>
                            <th>d</th>
                            <th>e</th>
                            <th>f</th>
                            <th>g</th>
                            <th>h</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

                <article class="status-and-buttons">
                    <h3 id="status">Никто не ходит</h3>
                    <div class="buttons">
                        <button id="start">Начало</button>
                        <button id="example1">Пример 1</button>
                        <button id="input-turns">Ввести ходы</button>
                        <button id="cancel-turn">Отменить ход</button>
                        <button id="finish-turn">Завершить ход</button>
                    </div>
                </article>

                <article class="game-history">
                    <h3>Ходы</h3>
                    <ol id="move-list">
                    </ol>
                    <div id="move-list-input-panel" class="removed">
                        <textarea id="move-list-input"></textarea>
                        <button id="show-turns">Показать</button>
                        <div id="error-field">
                        </div>
                    </div>
                </article>
            </div>
        </main>

        <footer>
            <section>
                <p>&copy Дмитрий Патока, 2021</p>
                <p><a href="mailto:dmitrypatoka@ya.ru?subject=Шашки онлайн">dmitrypatoka@ya.ru</a></p>
            </section>
        </footer>

        <script th:inline="javascript">
            const PATHS = {
                BLACK_CHECKER_SVG: [[@{/img/black-checker.svg}]],
                BLACK_CHECKER_KING_SVG: [[@{/img/black-checker-king.svg}]],
                WHITE_CHECKER_SVG: [[@{/img/white-checker.svg}]],
                WHITE_CHECKER_KING_SVG: [[@{/img/white-checker-king.svg}]]
            }
        </script>
        <script th:src="@{/scripts/game.js}" defer></script>
    </body>
</html>
